.SafeArea {
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0
}
.TemplateHeadingWithoutPicker:not(.removeHeadingSpacing) {
    padding-left: var(--p-space-400);
    padding-bottom: var(--p-space-100)
}


.Heading {
    padding-bottom: var(--p-space-300)
}

@supports (-webkit-line-clamp: 2) {
    .Heading {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow: hidden
    }
}

.Heading:only-child {
    padding-bottom: 0
}

.Heading>h1 {
    font-size: 1rem
}


.StaticIframe {
    position: absolute;
    z-index: var(--osw-z-index-iframe-hidden);
    top: 0;
    display: block;
    width: .0625rem;
    min-width: 100%;
    height: 100%;
    padding: 0;
    border: 0;
    background-color: var(--p-color-bg-surface);
    opacity: 0
}

.visible {
    position: relative;
    z-index: var(--osw-z-index-iframe-visible);
    opacity: 1
}

.disabled {
    opacity: .7;
    pointer-events: none
}

.LabelWrapper {
    padding: var(--p-space-100);
    padding-left: 1.75rem;
    display: flex;
    justify-content: space-between;
    align-items: center
}

.LabelWrapper.dense {
    padding-left: var(--p-space-300)
}