._AppTitle_a85vw_1 {
    text-decoration: none;
    color: inherit
}

._AppTitle_a85vw_1 a,._AppTitle_a85vw_1 button {
    cursor: pointer;
    text-decoration: none
}

._TitleItem_a85vw_12 {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit
}

._TitleItem_a85vw_12:first-child:hover {
    text-decoration: underline
}

._TitleItem_a85vw_12:not(:first-child):before {
    content: "";
    display: block;
    width: .0625rem;
    height: 1em;
    margin: 0 .375rem 0 var(--p-space-200);
    border-left: var(--p-border-width-025) solid var(--p-color-border);
    transform: rotate(20deg);
    transform-origin: left
}

._AppTitleBarContainer_13urf_1 {
    border-bottom: var(--p-border-width-025) solid var(--p-color-border-secondary)
}

._collapsible_13urf_5 {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    z-index: calc(var(--p-z-index-1) + 1);
    transition: transform var(--p-motion-duration-200) var(--p-motion-ease-out);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background-color: var(--p-color-bg)
}

._collapsed_13urf_17 {
    transform: translate3d(0,calc(-100% - .125rem),0)
}

._AppTitleBar_13urf_1 {
    background-color: var(--p-color-bg);
    display: flex;
    align-items: center;
    padding: var(--p-space-200) var(--p-space-300) .4375rem var(--p-space-300);
    min-height: 2rem
}

._Title_13urf_30 {
    padding: 0 0 0 var(--p-space-100);
    flex-grow: 1;
    overflow: hidden
}

._Title_13urf_30 h2 {
    font-weight: inherit;
    display: flex;
    font-size: var(--p-font-size-350);
    line-height: var(--p-font-line-height-500)
}

._UnstyledLink_13urf_43 {
    text-decoration: none;
    color: inherit
}

._UnstyledLink_13urf_43:hover {
    text-decoration: underline
}

._AppIcon_13urf_52 {
    margin: 0 var(--p-space-100) 0 0;
    width: 1.25rem;
    height: 1.25rem;
    flex-shrink: 0
}

._AppIcon_13urf_52 img {
    height: 100%;
    width: 100%
}
