._AppTitleBarContainer_1ic0o_12 {
    border-bottom: var(--p-border-width-025) solid var(--p-color-border-secondary)
}

._AppTitleBar_1ic0o_12 {
    display: flex;
    margin: .5625rem 0;
    align-items: center;
    padding: 0 var(--p-space-300);
    flex-direction: row
}

._Title_1ic0o_25 {
    padding-right: var(--p-space-100)
}

@media only screen and (width < 490px) {
    ._Title_1ic0o_25 {
        max-width: 13.75rem
    }
}

@media only screen and (width >= 490px) and (max-width: 47.9975em) {
    ._Title_1ic0o_25 {
        max-width:20.625rem
    }
}

@media only screen and (min-width: 48em) and (width < 1400px) {
    ._Title_1ic0o_25 {
        max-width:35.9375rem
    }
}

@media only screen and (width >= 1400px) {
    ._Title_1ic0o_25 {
        max-width: 62.5rem
    }
}

._TitleContainer_1ic0o_49 {
    padding: 0 0 0 var(--p-space-200);
    flex: 1 1;
    margin-right: auto
}

._ThumbnailContainer_1ic0o_55 {
    display: flex;
    align-items: center
}

._Thumbnail_1ic0o_55 {
    margin: .15625rem 0;
    height: 1.25rem;
    width: 1.25rem;
    background-color: var(--p-color-bg-fill-tertiary);
    border-radius: var(--p-border-radius-100)
}

._ActionsContainer_1ic0o_69 {
    flex: 1 1;
    margin-left: var(--p-space-600);
    max-width: 7.5rem
}

@media only screen and (width < 490px) {
    ._ActionsContainer_1ic0o_69 {
        max-width: 3.75rem
    }
}
