.hZNIG {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    min-height: 12.5rem
}

.ixiMV {
    color: var(--p-color-text-info)
}

.nPMFG {
    color: var(--p-color-text-warning)
}

.rgs39 {
    color: var(--p-color-text-info)
}

.LToMB {
    -webkit-appearance: none;
    appearance: none;
    background: none;
    border: none;
    border-radius: var(--p-border-radius-200);
    color: inherit;
    cursor: pointer;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
    margin: calc(var(--p-space-100)*-1) calc(var(--p-space-200)*-1) calc(var(--p-space-100)*-1) var(--p-space-500);
    padding: 0;
    padding: var(--p-space-200);
    position: relative
}

.LToMB:focus {
    outline: none
}

.LToMB:after {
    border-radius: var(--p-border-radius-100);
    box-shadow: 0 0 0 -1 var(--p-color-border-focus);
    content: "";
    display: block;
    inset: -.0625rem;
    pointer-events: none;
    position: absolute;
    z-index: var(--p-z-index-1)
}

.LToMB:hover {
    background-color: var(--p-color-bg-fill-transparent-hover)
}

.LToMB:hover svg {
    fill: var(--p-color-icon-hover)
}

.LToMB:active {
    background-color: var(--p-color-bg-fill-transparent-active)
}

.LToMB:focus-visible:not(:active) {
    background-color: var(--p-color-bg-fill-transparent-hover)
}

.LToMB:focus-visible:not(:active):after {
    border-radius: var(--p-border-radius-200);
    box-shadow: 0 0 0 var(--p-space-050) var(--p-color-border-focus);
    outline: var(--osui_high-contrast-outline)
}

.xM346 {
    display: flex;
    flex-direction: column;
    height: 100%
}

.J4HpT {
    flex-grow: 1;
    z-index: 0
}

.lInLk {
    position: relative
}

.sFnP6 {
    border: none;
    height: 100%;
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -9999
}

.h4zWl {
    padding-bottom: var(--p-space-100)
}

@media print {
    .h4zWl {
        display: none
    }
}

.vSY1w {
    height: 0;
    position: absolute;
    visibility: hidden;
    white-space: nowrap
}

@media(min-width: 30.625em) {
    .YB9rJ {
        min-width:21.875rem
    }
}

.W4kQ6 {
    fill: currentcolor
}

.fEwdT {
    border-top: var(--p-border-width-025) solid var(--p-color-border-secondary);
    display: flex;
    justify-content: center
}

.yc2XD {
    background: var(--p-color-bg-surface-secondary);
    border-left: none;
    border: .0625rem solid var(--p-color-border-secondary);
    border-radius: var(--p-border-radius-200);
    box-sizing: border-box;
    margin-top: var(--p-space-200);
    padding: .625rem;
    word-break: break-all
}

.fDdEd,.ftVbE {
    color: var(--p-color-text-secondary);
    text-decoration: none
}

.ftVbE {
    margin-bottom: var(--p-space-500);
    word-break: break-all
}

.q7TR6 {
    white-space: nowrap
}

.ANCn2 {
    display: flex;
    flex-wrap: wrap
}

.Jw1Ap {
    margin-right: .3125rem;
    word-break: break-word
}

._GenerateWrapper_1nch3_1 button {
    width: 100%
}

._InputSection_um7e9_1 {
    padding: var(--p-space-300);
    width: 20rem
}

._VerticalLayout_um7e9_6 {
    display: block
}

._OutputSection_tmqkl_1 {
    background: #0000;
    border: none;
    display: flex;
    flex-direction: column;
    position: relative
}

._WithDivider_tmqkl_9:before {
    background: var(--p-color-border-secondary);
    bottom: var(--p-space-400);
    content: "";
    left: var(--p-space-025);
    position: absolute;
    top: var(--p-space-400);
    width: var(--p-space-025)
}

._ContentWrapper_tmqkl_19 {
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    height: 100%
}

._isAnimating_tmqkl_26 {
    overflow: hidden
}

._Content_tmqkl_19 {
    flex: 1 1 auto;
    overflow-x: auto
}

._Footer_tmqkl_36,._Header_tmqkl_35 {
    flex: 0 0 auto
}

._VerticalLayout_tmqkl_40 {
    display: flex;
    min-height: 0
}

._VerticalContent_tmqkl_45 {
    min-height: var(--p-space-1000)
}

._VerticalContentLoading_tmqkl_49 {
    background: none;
    border-radius: 0
}

._Error_tmqkl_54 {
    background: var(--p-color-bg-surface-critical);
    border-radius: var(--p-border-radius-200);
    padding: var(--p-space-300)
}

._LoaderWrapper_1sd5d_2 {
    width: 100%
}

._Loading_1sd5d_6:before {
    animation: _loading_1sd5d_1 .45s infinite;
    color: var(--magic-text);
    content: "⠋";
    font-size: .875rem
}

@keyframes _loading_1sd5d_1 {
    0% {
        content: "⠋"
    }

    11% {
        content: "⠙"
    }

    22% {
        content: "⠹"
    }

    33% {
        content: "⠸"
    }

    44% {
        content: "⠼"
    }

    55% {
        content: "⠴"
    }

    66% {
        content: "⠦"
    }

    77% {
        content: "⠧"
    }

    88% {
        content: "⠇"
    }

    to {
        content: "⠏"
    }
}

._TextOutput_zc9gg_1 {
    display: block;
    height: auto;
    margin: 0;
    overflow: hidden;
    transition-duration: var(--p-motion-duration-100);
    transition-timing-function: ease-in;
    width: 100%
}

._TextOutput_zc9gg_1._Loading_zc9gg_10 {
    width: auto
}

._Loader_zc9gg_14 {
    background-color: var(--p-color-bg-surface-magic-hover);
    border-radius: var(--p-border-radius-050);
    color: var(--p-color-text-magic);
    display: flex;
    padding: 0 var(--p-space-050)
}

._Loader_zc9gg_14._Vertical_zc9gg_21 {
    margin-left: var(--p-space-300);
    margin-top: var(--p-space-300)
}

._PlainText_zc9gg_26 {
    color: var(--p-color-text-magic);
    display: inline
}

._PlainText_zc9gg_26._Vertical_zc9gg_21 {
    background: #f9f4ff;
    border-radius: var(--p-border-radius-200);
    display: flex;
    padding: var(--p-space-200) var(--p-space-300)
}

._HtmlText_zc9gg_37 {
    display: flex;
    flex-direction: column
}

._HtmlText_zc9gg_37._Vertical_zc9gg_21 {
    background: #f9f4ff;
    border-radius: var(--p-border-radius-200);
    padding: var(--p-space-200) var(--p-space-300)
}

._HtmlText_zc9gg_37,._HtmlText_zc9gg_37 *,._HtmlText_zc9gg_37 a {
    color: var(--p-color-text-magic)
}

._HtmlText_zc9gg_37 * {
    line-height: var(--p-font-line-height-400);
    margin-bottom: var(--p-space-300);
    margin-top: 0
}

._HtmlText_zc9gg_37 :last-child {
    margin-bottom: 0
}

._HtmlText_zc9gg_37 ol,._HtmlText_zc9gg_37 ul {
    padding-inline-start:var(--p-space-400)}

._HtmlText_zc9gg_37 ol li,._HtmlText_zc9gg_37 ul li {
    margin-bottom: var(--p-space-050)
}

._HtmlText_zc9gg_37 h1 {
    font-size: var(--p-font-size-400)
}

._HtmlText_zc9gg_37 h1,._HtmlText_zc9gg_37 h2 {
    font-weight: var(--p-font-weight-semibold);
    line-height: var(--p-font-line-height-600)
}

._HtmlText_zc9gg_37 h2 {
    font-size: var(--p-font-size-350)
}

._HtmlText_zc9gg_37 h3,._HtmlText_zc9gg_37 h4,._HtmlText_zc9gg_37 h5,._HtmlText_zc9gg_37 h6 {
    font-size: var(--p-font-size-300);
    font-weight: var(--p-font-weight-semibold);
    line-height: var(--p-font-line-height-600)
}

._Item_14rpi_1 {
    background: #0000;
    border: none;
    border-radius: var(--p-border-radius-200);
    color: var(--p-color-text-magic);
    outline: none;
    padding: var(--p-space-300);
    text-align: left;
    width: 100%
}

._Item_14rpi_1._Vertical_14rpi_11._Active_14rpi_11,._Item_14rpi_1._Vertical_14rpi_11:focus,._Item_14rpi_1._Vertical_14rpi_11:hover {
    background-color: #f9f4ff;
    cursor: pointer
}

._Item_14rpi_1._Active_14rpi_11,._Item_14rpi_1:hover {
    background-color: var(--p-color-bg-fill-magic-secondary-hover);
    cursor: pointer
}

._Item_14rpi_1:focus {
    background-color: var(--p-color-bg-magic-subdued-active)
}

._Item_14rpi_1:focus:hover {
    background-color: var(--p-color-bg-surface-magic-hover)
}

._Item_14rpi_1:focus:active {
    background-color: var(--p-color-bg-magic-subdued-active)
}

._Item_14rpi_1:disabled {
    pointer-events: none
}

._LoadingWordsWrapper_14rpi_32 {
    background-color: var(--p-color-bg-magic-subdued-active);
    color: var(--magic-text)
}

._LabelSubdued_pajq0_1 {
    color: var(--p-color-text-secondary)
}

._Button_18n78_1 {
    height: 1.25rem
}

._Button_18n78_1 svg {
    fill: var(--p-color-icon-secondary)!important
}

._Button_18n78_1._positive_18n78_7._feedbackSent_18n78_10 svg,._Button_18n78_1._positive_18n78_7:hover svg {
    fill: var(--p-color-icon-success)!important
}

._Button_18n78_1._negative_18n78_13._feedbackSent_18n78_10 svg,._Button_18n78_1._negative_18n78_13:hover svg {
    fill: var(--p-color-icon-critical)!important
}

._Button_18n78_1._disabled_18n78_19 svg,._Button_18n78_1._disabled_18n78_19:hover svg {
    fill: var(--p-color-icon-disabled)!important
}

._LoaderWrapper_7vybq_1 {
    position: absolute;
    z-index: var(--p-z-index-12)
}

._Container_1kcqz_1 {
    display: flex;
    flex-direction: row;
    height: 100%;
    max-height: 30rem;
    overflow-x: hidden
}

._Vertical_1kcqz_9 {
    display: flex;
    flex-direction: column;
    width: 100%
}

._StopIcon_znhqb_1 {
    display: block;
    margin-left: calc((var(--p-space-100))*-1)
}

._StopWrapper_znhqb_6 button {
    width: 100%
}

._CustomInput_1rfat_1 {
    background: none;
    border: none;
    border-top: var(--p-border-width-025) solid var(--p-color-border-secondary);
    display: inline-block;
    margin: 0;
    padding: var(--p-space-300) var(--p-space-300) var(--p-space-400) var(--p-space-300);
    text-align: left;
    text-decoration: none;
    -webkit-user-select: text;
    user-select: text
}

._CustomInput_1rfat_1:focus {
    outline: none
}

._CustomLabel_1rfat_16 {
    margin-bottom: var(--p-space-200)
}

._Activator_1rfat_20 {
    display: inline-block
}

._Container_1rfat_24 {
    align-items: center;
    display: flex
}

._Container_1rfat_24 span:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

._PopoverContainer_1o103_1 {
    display: flex;
    flex-direction: column;
    height: 100%
}

.JcTJo {
    align-items: flex-end;
    display: flex
}

.aOLFg {
    display: flex;
    margin-left: var(--p-space-200)
}

.IdgUp {
    align-items: center;
    flex: 1 1
}

.IdgUp,.rTtK_,.v6gY9 {
    display: flex
}

.rTtK_ {
    align-items: center;
    border-radius: var(--p-border-radius-200);
    height: var(--p-space-800);
    justify-content: center;
    width: var(--p-space-800)
}

.rTtK_.upTTC,.rTtK_:hover {
    background: var(--p-color-border-secondary)
}

.rTtK_ button {
    height: 100%;
    width: 100%
}

.Eg8L8 {
    align-items: flex-end;
    display: flex
}

.d8E76 {
    width: 100%
}

.qTw9w {
    height: var(--p-height-500);
    width: var(--p-width-500)
}

.qTw9w svg {
    fill: var(--p-color-border-magic-secondary)
}

.ZNadp {
    display: flex
}

._kNhO {
    margin-right: var(--p-space-200)
}

.XgxFi {
    position: relative
}

.d_4td {
    position: absolute;
    right: 0;
    top: 0
}

.d_4td button {
    min-width: unset
}

.qgF4P input {
    color: var(--p-color-text-magic)
}

.rjoEv {
    animation: rp7_k 1s forwards;
    position: relative
}

.IqEak {
    background: var(--p-color-bg-fill-magic-secondary);
    inset: calc(var(--p-space-050)*-1);
    overflow: hidden
}

.IqEak,.IqEak:before {
    border-radius: var(--p-border-radius-100);
    position: absolute
}

.IqEak:before {
    animation: iBdAH 3s ease-in-out infinite;
    background: radial-gradient(circle,#cbb4f8 0,#cbb4f800 100%);
    content: "";
    display: block;
    inset: 0;
    transform: translateX(calc(-100% - var(--p-space-600)));
    width: 50%
}

.IqEak,.IqEak:before {
    border-radius: calc(var(--p-border-radius-200) + var(--p-border-radius-050))
}

@keyframes iBdAH {
    50% {
        left: calc(100% + var(--p-space-600));
        transform: translateX(0)
    }

    0% {
        left: 0
    }
}

@keyframes rp7_k {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.LQSfw,.v7Z1h {
    position: relative
}

.LQSfw {
    background: var(--p-color-bg-surface);
    border: var(--p-border-width-025) solid var(--p-color-border-secondary);
    border-top: none;
    box-shadow: inset 0 .0625rem 0 0 rgba(var(--p-color-text-secondary),.05);
    transition-duration: var(--p-motion-duration-200);
    transition-property: box-shadow,border-color;
    transition-timing-function: var(--p-motion-ease);
    z-index: var(--osw-z-index-middle)
}

.LQSfw,.LQSfw .kaOhh,.LQSfw>iframe {
    border-radius: var(--p-border-radius-100);
    border-top-left-radius: 0;
    border-top-right-radius: 0
}

.qFuCH {
    border-color: var(--p-color-border-focus);
    box-shadow: inset 0 0 0 0 #0000,0 0 0 .0625rem var(--p-color-border-focus)
}

.kaOhh {
    border: none;
    display: block;
    font-family: var(--p-font-family-mono);
    font-size: .8125rem;
    max-width: 100%;
    min-height: 9.375rem;
    min-width: 100%;
    padding: var(--p-space-200)
}

.kaOhh:focus {
    outline: none
}

.nfG0o {
    position: relative;
    z-index: var(--osw-z-index-base)
}

.lmgss {
    animation: ssdgR 1s forwards
}

.F78hM {
    background: var(--p-color-bg-fill-magic-secondary);
    inset: calc(var(--p-space-050)*-1);
    overflow: hidden
}

.F78hM,.F78hM:before {
    border-radius: var(--p-border-radius-100);
    position: absolute
}

.F78hM:before {
    animation: l1Iuq 3s ease-in-out infinite;
    background: radial-gradient(circle,#cbb4f8 0,#cbb4f800 100%);
    content: "";
    display: block;
    inset: 0;
    transform: translateX(calc(-100% - var(--p-space-600)));
    width: 50%
}

.F78hM,.F78hM:before {
    border-radius: calc(var(--p-border-radius-100) + var(--p-border-radius-050))
}

@keyframes l1Iuq {
    50% {
        left: calc(100% + 1.5rem);
        transform: translateX(0)
    }

    0% {
        left: 0
    }
}

@keyframes ssdgR {
    0% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.Po8Qu,.sCOPg {
    padding: var(--p-space-200)
}

.sCOPg {
    grid-gap: var(--p-space-100);
    background-color: var(--p-color-bg-surface-secondary);
    border-top: var(--p-border-width-025) solid var(--p-color-border-secondary);
    display: grid;
    grid-template-columns: repeat(7,1fr)
}

.SiA1B {
    border: var(--p-border-width-025) solid var(--p-color-border-secondary);
    border-radius: var(--p-border-radius-100);
    box-shadow: inset 0 .0625rem .375rem rgba(var(--p-color-text-secondary),.2);
    cursor: pointer;
    padding: 0;
    transition: border-color var(--p-motion-duration-300) var(--p-motion-ease)
}

.SiA1B:hover {
    border-color: #9c6ade
}

.SiA1B:after {
    content: "";
    display: block;
    padding-bottom: 100%;
    width: 100%
}

.EgEqY [role=tablist]+div>button {
    display: contents
}

.Bnp7v {
    width: 100%
}

.xqZlZ {
    border-radius: 50%;
    box-shadow: inset 0 0 0 .0625rem #00000012,inset 0 .0625rem .1875rem 0 #00000026;
    height: 1.25rem;
    margin-left: calc(var(--p-space-100)*-1);
    width: 1.25rem
}

.MbWiw {
    border-radius: inherit;
    box-shadow: inherit;
    height: 100%;
    width: 100%
}

.N9Gao {
    background: var(--p-color-bg-surface-secondary);
    border: var(--p-border-width-025) solid var(--p-color-border-secondary);
    border-radius: var(--p-border-radius-200) var(--p-border-radius-200) 0 0;
    border-top: var(--p-border-width-025) solid var(--p-color-border);
    padding: .375rem var(--p-space-200)
}

.N9Gao button {
    display: flex
}

.N9Gao button:not([aria-disabled=true]) svg {
    fill: var(--p-color-icon)!important
}

.Yzfbu,.hFuoE {
    align-items: center;
    display: flex
}

.hFuoE {
    flex: 1 1 100%;
    max-width: 100%;
    min-width: 0
}

.QTKzU {
    flex: 0 0 auto;
    gap: var(--p-space-100);
    padding-left: var(--p-space-200)
}

.GQr_Z,.QTKzU {
    align-items: center;
    display: flex
}

.GQr_Z {
    gap: var(--p-space-200);
    max-width: 100%;
    min-width: 0
}

.BiWi1 {
    align-items: center;
    display: flex;
    gap: var(--p-space-100);
    padding: 0
}

.QoIoU {
    margin-left: var(--p-space-200)
}

.BiWi1:not(:last-child):after {
    border-left: var(--p-border-width-025) solid var(--p-color-border-tertiary);
    content: "";
    display: block;
    height: 1.25rem;
    margin-left: var(--p-space-100)
}

.bQz5k .BiWi1:not(:last-child):after {
    border-left-color: var(--p-color-border-disabled)
}

.UsOVE,.UsOVE>div {
    align-items: center;
    display: flex
}

.IyXia {
    padding: .375rem var(--p-space-200)
}

.IyXia button {
    display: flex
}

.IyXia button:not([aria-disabled=true]) svg {
    fill: var(--p-color-icon)!important
}

.IyXia .BiWi1 {
    display: contents
}

.IyXia .BiWi1:not(:last-child):after {
    display: inline-block;
    margin-left: var(--p-space-200);
    margin-right: var(--p-space-100);
    vertical-align: middle
}

@media(min-width: 375px) {
    .IyXia .BiWi1.hb3Q7:not(:last-child):after {
        border:0;
        content: "";
        display: block;
        height: 0
    }
}

.IyXia .BiWi1>div {
    display: inline-block;
    margin-bottom: var(--p-space-050);
    margin-top: var(--p-space-050);
    vertical-align: middle
}

.IyXia .BiWi1>div:not(:first-child),.IyXia .BiWi1>div:only-child {
    margin-left: var(--p-space-100)
}

.IyXia .BiWi1:first-child>div:first-child {
    margin-left: 0
}

.FmK6M,.FmK6M>div {
    align-items: center;
    display: flex
}

.FmK6M:not(.hGQtI):before {
    border-left: var(--p-border-width-025) solid var(--p-color-border-tertiary);
    content: "";
    display: block;
    height: 1.25rem;
    margin: 0 .5rem
}

.bQz5k .FmK6M:not(.hGQtI):before {
    border-left-color: var(--p-color-border-disabled)
}

.jSrXF {
    display: none
}

@media(min-width: 30.625em) {
    .GNE1q {
        display:flex
    }

    .yugVo {
        margin-right: 1rem
    }
}

.NveCE {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center
}

@media(max-width: 30.6225em) {
    .NveCE {
        margin-top:1rem
    }
}

.B0D9f {
    border: none;
    outline: var(--p-border-width-025) solid var(--p-color-border);
    padding: var(--p-space-200)
}

.dXI4a {
    display: flex;
    justify-content: space-evenly
}

.sZPEn {
    margin: 0 auto;
    width: 3.75rem
}

.sZPEn+.sZPEn {
    margin-left: 5rem
}

.sZPEn label {
    text-align: center;
    width: 3.75rem
}

.x2o91 {
    border: none;
    margin: 0;
    padding: 0
}

._9EpbS {
    color: #1a0dab;
    font-size: 1.125rem;
    line-height: 1.3125rem;
    margin-bottom: .125rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

.XvacU {
    color: #006621;
    line-height: 1rem;
    margin-bottom: .125rem
}

.XvacU,.xthFr {
    word-wrap: break-word;
    font-size: .8125rem;
    overflow-wrap: break-word;
    word-break: break-word
}

.xthFr {
    color: #545454;
    line-height: 1.125rem
}

.mhddu {
    word-wrap: break-word;
    background: #fcfcd1;
    overflow-wrap: break-word;
    padding: calc(var(--p-space-100)*.5);
    word-break: break-word
}

.wRuRU {
    outline: none
}

.Rj_HK {
    align-items: flex-start;
    -webkit-appearance: none;
    appearance: none;
    background: none;
    background-color: #0000;
    border: none;
    border-radius: var(--p-border-radius-100,var(--p-border-radius-100));
    color: inherit;
    cursor: pointer;
    display: flex;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
    margin: var(--p-space-200);
    min-height: var(--p-height-900);
    padding: 0;
    padding: var(--p-space-200);
    position: relative;
    text-align: left;
    width: calc(100% - var(--p-space-200)*2)
}

.Rj_HK:focus {
    outline: none
}

.Rj_HK:after {
    border-radius: var(--p-border-radius-100);
    box-shadow: 0 0 0 -1 var(--p-color-border-focus);
    content: "";
    display: block;
    inset: -.0625rem;
    pointer-events: none;
    position: absolute;
    z-index: var(--p-z-index-1)
}

.Rj_HK:focus:not(:active):after {
    box-shadow: 0 0 0 var(--p-space-050) var(--p-color-border-focus);
    outline: var(--osui_high-contrast-outline)
}

.Rj_HK:hover {
    background-color: var(--p-color-bg-surface-hover)
}

.Rj_HK:active {
    background-color: var(--p-color-bg-surface-active)
}

.Rj_HK+.KeC30 {
    margin-top: -var(--p-space-400)
}

.EpIC2 {
    display: block;
    text-align: left
}

.EpIC2,.QfILU,.ez61d {
    min-height: var(--p-height-900);
    padding: var(--p-space-200) var(--p-space-400);
    width: 100%
}

.QfILU,.ez61d {
    align-items: center;
    display: flex;
    justify-content: center
}

.KmQFA {
    padding-top: var(--p-space-200)
}

.UPK5h {
    align-items: center;
    display: flex;
    height: 15.625rem;
    justify-content: center
}

.uuNxX {
    max-height: 15.625rem;
    max-width: 100%
}

.nkaC4 {
    align-items: stretch;
    display: flex
}

.F1gyt {
    margin-left: var(--p-space-400)
}

.ryXoh {
    align-items: center;
    background: var(--p-color-text-inverse);
    border: .0625rem solid var(--p-color-text-inverse);
    display: flex;
    flex: 0 0 25%;
    justify-content: center;
    max-width: 25%
}

.zFPQB {
    max-height: 100%;
    max-width: 100%
}

.B2aXA {
    align-items: center;
    background-color: var(--p-color-bg-fill-tertiary);
    border-radius: var(--p-border-radius-100);
    color: var(--p-color-text);
    display: inline-flex;
    min-height: 1.75rem;
    overflow: hidden;
    padding-left: var(--p-space-200);
    padding-right: var(--p-space-200)
}

.B2aXA.Fxhth {
    padding-right: 0
}

.B2aXA.zdgBF {
    cursor: pointer
}

.B2aXA.UvaoE {
    cursor: default;
    opacity: .5
}

.B2aXA>span {
    overflow-wrap: anywhere
}

.TgNBI {
    align-self: flex-start;
    -webkit-appearance: none;
    appearance: none;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
    display: block;
    font-size: inherit;
    height: 1.75rem;
    line-height: inherit;
    margin: 0;
    margin-left: var(--p-space-100);
    padding: 0;
    transition-duration: var(--p-motion-duration-200);
    transition-property: background,fill;
    transition-timing-function: var(--p-motion-ease);
    width: 1.75rem;
    will-change: background,fill
}

.TgNBI:focus {
    outline: none
}

.TgNBI svg {
    fill: var(--p-color-icon-secondary)
}

.TgNBI:active,.TgNBI:focus,.TgNBI:hover {
    background: var(--p-color-text-inverse-secondary)
}

.TgNBI:active svg,.TgNBI:focus svg,.TgNBI:hover svg {
    fill: var(--p-color-icon)
}

.TgNBI:active {
    background: rgba(var(--p-color-text-secondary),.6)
}

.TgNBI.DldiK {
    cursor: default
}

.TgNBI.DldiK:active,.TgNBI.DldiK:focus,.TgNBI.DldiK:hover {
    background: none
}

.TgNBI.DldiK:active svg,.TgNBI.DldiK:focus svg,.TgNBI.DldiK:hover svg {
    fill: var(--p-color-icon-secondary)
}

._OOn3 {
    list-style: none;
    margin: 0;
    padding: 0
}

.RLCPg {
    display: inline-flex;
    margin: 0 var(--p-space-100) var(--p-space-100) 0;
    max-width: 100%
}

.E2zug {
    min-height: 1.875rem
}
