@media(min-width: 30.625em) {
    .UYl7w>div {
        padding:0 var(--p-space-500)
    }
}

@media(min-width: 48em) {
    .UYl7w>div {
        padding:0 var(--p-space-800)
    }
}

.kbVb4 {
    padding-top: 2.75rem
}

.mgLtn {
    margin-top: calc(var(--p-space-400)*-1)
}

.sgeF6 {
    align-items: flex-start;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: calc(var(--p-space-500)*-1);
    margin-top: calc(var(--p-space-500)*-1)
}

.UmuVh {
    flex: 2 2 30rem;
    min-width: 51%
}

.nDO_N {
    flex: 1 1 15rem;
    min-width: 0
}

.If_ol,.KovQo {
    flex: 1 1 100%
}

.KovQo {
    min-width: 0
}

.KovQo,.UmuVh {
    margin-left: var(--p-space-500);
    margin-top: var(--p-space-500);
    max-width: calc(100% - var(--p-space-500))
}

@media(min-width: 30.625em) {
    .KovQo+.KovQo,.UmuVh+.KovQo {
        border-top:var(--p-border-width-025) solid var(--p-color-border-secondary);
        padding-top: var(--p-space-500)
    }
}

.ZbqGB {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(var(--p-space-500)*-1);
    margin-top: calc(var(--p-space-500)*-1)
}

.UCfSE {
    flex: 2 2 30rem
}

.RXvAx {
    flex: 1 1 15rem;
    padding: var(--p-space-400) var(--p-space-500) 0
}

@media(min-width: 30.625em) {
    .RXvAx {
        padding:var(--p-space-400) 0 0
    }
}

@media(min-width: 48em) {
    .RXvAx {
        padding:var(--p-space-500) var(--p-space-500) var(--p-space-500) 0
    }
}

.RXvAx,.UCfSE {
    margin-left: var(--p-space-500);
    margin-top: var(--p-space-500);
    max-width: calc(100% - var(--p-space-500));
    min-width: 0
}

.gVUKf {
    color: var(--p-color-text-secondary)
}

.LO2P3 {
    animation-delay: 1s;
    animation-duration: .5s;
    animation-fill-mode: forwards;
    animation-name: sq6YW;
    animation-timing-function: ease-in-out;
    background-color: var(--p-color-bg-surface-caution)
}

.LO2P3:focus {
    outline: none
}

@keyframes sq6YW {
    0% {
        background-color: var(--p-color-bg-surface-caution)
    }

    to {
        background-color: initial
    }
}
