._MobileFooter_wwsj7_4 {
    grid-area: footer;
    position: absolute;
    z-index: var(--p-z-index-11);
    bottom: 0;
    width: 100%;
    height: 3.875rem;
    padding-top: var(--p-space-600);
    background-color: var(--p-color-bg-surface);
    border-radius: var(--p-space-400) var(--p-space-400) 0 0;
    box-shadow: 0 -.0625rem #00000014,0 -.0625rem .5rem #0000000f
}

._Content_wwsj7_22 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%
}

._Content_wwsj7_22>div {
    height: 1rem;
    width: 6.5rem;
    max-width: 100%;
    background-color: var(--p-color-bg-fill-secondary)
}

._MobileHeader_10hwp_1 {
    z-index: var(--p-z-index-1);
    height: 100%
}

._MobileHeader_10hwp_1>div {
    height: 100%
}

._Header_13uih_1 {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--p-color-bg-surface);
    padding-top: var(--p-space-600);
    padding-bottom: var(--p-space-600)
}

._HeroImage_13uih_10 {
    background-color: var(--p-color-bg-fill-secondary);
    height: 22.75rem;
    width: 100%
}

._Body_13uih_16 {
    background-color: var(--p-color-bg-surface);
    padding-top: var(--p-space-600);
    padding-bottom: var(--p-space-600)
}

._Cta_13uih_22 {
    display: grid;
    place-items: center center;
    gap: var(--p-space-300);
    padding-bottom: var(--p-space-400)
}

._Thumbnails_13uih_29 {
    background-color: var(--p-color-bg-surface);
    display: flex;
    justify-content: center;
    align-items: center
}

._ThumbnailsInner_13uih_36 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center center;
    gap: var(--p-space-100)
}

._SkeletonDisplayText_13uih_43>div {
    height: 1rem;
    width: 100%;
    max-width: 100%;
    background-color: var(--p-color-bg-fill-secondary)
}

._SkeletonThumbnail_13uih_52>div {
    background-color: var(--p-color-bg-fill-secondary);
    width: 10.5rem;
    height: 10.5rem
}

._Frame_2h61i_16 {
    --ose_height-frame-header: 3.5rem;
    background-color: var(--p-color-bg-surface-secondary);
    display: grid;
    grid-template-columns: 3.5rem 18.75rem 1fr 18.75rem;
    grid-template-rows: var(--ose_height-frame-header) 1fr;
    grid-template-areas: "header header header header" "primary-aux-sidebar primary-sidebar preview secondary-sidebar";
    width: 100vw;
    height: 100vh;
    overflow: hidden
}

@media (max-width: 100.875em) {
    ._Frame_2h61i_16 {
        grid-template-columns:3.5rem 18.75rem 1fr;
        grid-template-rows: var(--ose_height-frame-header) 1fr;
        grid-template-areas: "header header header" "primary-aux-sidebar primary-sidebar preview"
    }
}

@media (max-width: 41.625em) {
    ._Frame_2h61i_16 {
        grid-template-columns:100%;
        grid-template-rows: var(--ose_height-frame-header) 1fr 4.0625rem;
        grid-template-areas: "header" "preview" "footer"
    }
}

._Frame_2h61i_16._WithoutAuxSidebarAndSecondarySidebar_2h61i_51 {
    grid-template-columns: 0 18.75rem 1fr 0
}

@media (max-width: 100.875em) {
    ._Frame_2h61i_16._WithoutAuxSidebarAndSecondarySidebar_2h61i_51 {
        grid-template-columns:0 18.75rem 1fr
    }
}

@media (max-width: 41.625em) {
    ._Frame_2h61i_16._WithoutAuxSidebarAndSecondarySidebar_2h61i_51 {
        grid-template-columns:100%
    }
}

._Header_2h61i_68 {
    grid-area: header;
    border-bottom: var(--p-border-width-025) solid rgb(223,227,232);
    padding: var(--p-space-400);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--p-color-bg-surface)
}

@media (max-width: 41.625em) {
    ._Header_2h61i_68>*:nth-child(2) {
        display:none
    }
}

._Header_2h61i_68>div {
    width: 25%
}

._Header_2h61i_68 ._HeaderBodyTextMiddle_2h61i_89 {
    width: 50%
}

._Header_2h61i_68 ._HeaderDisplayText_2h61i_93 {
    width: 4rem;
    height: 2.25rem
}

._Footer_2h61i_99 {
    grid-area: footer;
    position: absolute;
    bottom: 0;
    width: 100%;
    border-top: var(--p-border-width-025) solid rgb(223,227,232);
    background-color: var(--p-color-bg-surface);
    padding: var(--p-space-400);
    display: flex;
    align-items: center;
    justify-content: space-between
}

._Footer_2h61i_99>div {
    width: 25%
}

._Preview_2h61i_118 {
    grid-area: preview;
    display: flex;
    justify-content: center;
    margin: var(--p-space-200)
}

._MobileCard_2h61i_125 {
    border-radius: var(--p-space-200);
    width: 100%;
    background-color: #fff
}

._PrimaryAuxSidebar_2h61i_132 {
    grid-area: primary-aux-sidebar;
    position: relative;
    width: 3.5rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    border-right: var(--p-border-width-025) solid var(--p-color-border-secondary)
}

._PrimarySidebar_2h61i_144 {
    grid-area: primary-sidebar;
    position: relative;
    width: 18.75rem;
    background-color: #fff;
    display: flex;
    flex-direction: column
}

._SecondarySidebar_2h61i_155 {
    grid-area: secondary-sidebar;
    width: 18.75rem;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: var(--p-space-400);
    padding-left: var(--p-space-500)
}

._SecondaryHeaderBodyText_2h61i_167 {
    margin-bottom: var(--p-space-400);
    width: 5.8125rem
}

._WorkspaceHeader_2h61i_172 {
    padding: var(--p-space-200) 0 var(--p-space-500) var(--p-space-300)
}

._WorkspaceHeader_2h61i_172>div {
    margin-bottom: var(--p-space-200)
}

._WorkspaceHeaderDisplayText_2h61i_180 {
    width: 5.8125rem
}

._WorkspaceHeaderBodyText_2h61i_184 {
    width: 9.4375rem
}

._WorkspaceHeaderSubheading_2h61i_188 {
    padding-top: var(--p-space-400)
}

._WorkspaceHeaderSubheading_2h61i_188>div {
    margin-bottom: var(--p-space-200)
}

._WorkspaceHeaderSubheadingFirstLine_2h61i_196 {
    width: 5.0625rem
}

._WorkspaceHeaderSubheadingSecondLine_2h61i_200 {
    width: 10.6875rem
}

._SectionDivider_2h61i_204 {
    height: .0625rem;
    width: 15.25rem;
    background-color: var(--p-color-bg-fill-tertiary);
    margin: auto
}

._FullLengthDivider_2h61i_211 {
    height: .0625rem;
    width: 18.75rem;
    background-color: var(--p-color-bg-fill-tertiary);
    margin-left: calc(var(--p-space-400)*-1)
}

._SkeletonSingleItem_2h61i_219 {
    margin-top: var(--p-space-200)
}

._SkeletonActionItem_2h61i_223 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: var(--p-space-300);
    margin: 0 auto
}

._SkeletonActionItem_2h61i_223:first-child {
    padding-top: var(--p-space-400)
}

._SkeletonItem_2h61i_235 {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: var(--p-space-300);
    margin-left: var(--p-space-200)
}

._SkeletonItem_2h61i_235>div:nth-child(1) {
    width: 1.25rem;
    height: 1.25rem
}

._SkeletonItem_2h61i_235>div:nth-child(2) {
    width: 7.5rem;
    margin: var(--p-space-200)
}

._SkeletonListItemWrapper_2h61i_254 {
    margin-left: var(--p-space-500)
}

._SkeletonSection_2h61i_258 {
    display: flex;
    align-items: center;
    height: 4.375rem
}

._SkeletonSectionWrapper_2h61i_264 {
    padding: var(--p-space-200);
    padding-left: var(--p-space-400)
}

._SkeletonNestedList_2h61i_269>*:last-child {
    margin-bottom: var(--p-space-300)
}
