._TextFieldContainer_1s9rs_1 {
    padding: var(--p-space-300);
    min-width: 15.875rem
}

._paddingTop_1s9rs_8 {
    padding-top: var(--p-space-200)
}

._OptionListContainer_1s9rs_12 {
    padding-bottom: var(--p-space-200);
    overflow: hidden
}

._OptionListContainerExtraTopPadding_1s9rs_17 {
    padding-top: var(--p-space-200)
}

._OptionListContainerMinWidth_1s9rs_21 {
    min-width: 15.625rem
}

._BackButton_1s9rs_25 {
    padding: var(--p-space-300);
    padding-bottom: 0;
    cursor: pointer
}

._BackButton_1s9rs_25:focus-visible {
    outline: var(--p-space-050) solid var(--p-color-border-focus);
    outline-offset: var(--p-space-025);
    border-radius: var(--p-border-radius-100);
    padding-right: var(--p-space-150)
}

._BackButtonIcon_1s9rs_38:hover {
    background-color: var(--p-color-bg-surface-hover);
    border-radius: var(--p-border-radius-100)
}

._MultiOption_1s9rs_45 {
    cursor: pointer;
    margin: var(--p-space-050) var(--p-space-200) 0;
    padding: var(--p-space-050) var(--p-space-200);
    width: 100%;
    border-radius: var(--p-border-radius-200)
}

._MultiOption_1s9rs_45._isSelected_1s9rs_52 {
    background: var(--p-color-bg-surface-active)
}

._MultiOption_1s9rs_45:hover,[data-focused]>._MultiOption_1s9rs_45 {
    background-color: var(--p-color-bg-surface-hover)
}

._Container_z3qvt_1 {
    width: 100%
}

._Title_z3qvt_5 {
    word-break: break-word
}

@supports (-webkit-line-clamp: 3) {
    ._Title_z3qvt_5 {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        white-space: inherit
    }
}
