._UploadErrorBanner_t82h6_1 {
    padding-bottom: var(--p-space-500)
}

._ImageContainerWrapper_t82h6_5 {
    position: relative;
    box-sizing: content-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 100%;
    border: var(--p-border-width-025) solid var(--p-color-border-secondary);
    border-radius: inherit
}

._ImageContainer_t82h6_5 {
    display: block;
    width: 100%;
    padding: 0;
    border: none;
    background: none;
    color: inherit;
    font: inherit;
    outline: inherit
}

._ImageContainerClickable_t82h6_28 {
    display: block;
    width: 100%;
    padding: 0;
    border: none;
    background: none;
    color: inherit;
    font: inherit;
    outline: inherit;
    cursor: pointer
}

._ImageElement_t82h6_40 {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: block;
    max-width: 100%;
    max-height: 100%;
    margin: auto
}

._UploadImageElement_t82h6_52 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

._ImageModal_t82h6_59 {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: var(--p-space-400)
}

._LoadingContainer_t82h6_65 {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 10rem
}

@media (max-width: 64.9975em) {
    ._LoadingContainer_t82h6_65 {
        min-height:12.8125rem
    }
}

._EmptyStateContent_t82h6_76 {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column
}
