.hZNIG {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    min-height: 12.5rem
}

.ixiMV {
    color: var(--p-color-text-info)
}

.nPMFG {
    color: var(--p-color-text-warning)
}

.rgs39 {
    color: var(--p-color-text-info)
}

.LToMB {
    -webkit-appearance: none;
    appearance: none;
    background: none;
    border: none;
    border-radius: var(--p-border-radius-200);
    color: inherit;
    cursor: pointer;
    font-size: inherit;
    line-height: inherit;
    margin: 0;
    margin: calc(var(--p-space-100)*-1) calc(var(--p-space-200)*-1) calc(var(--p-space-100)*-1) var(--p-space-500);
    padding: 0;
    padding: var(--p-space-200);
    position: relative
}

.LToMB:focus {
    outline: none
}

.LToMB:after {
    border-radius: var(--p-border-radius-100);
    box-shadow: 0 0 0 -1 var(--p-color-border-focus);
    content: "";
    display: block;
    inset: -.0625rem;
    pointer-events: none;
    position: absolute;
    z-index: var(--p-z-index-1)
}

.LToMB:hover {
    background-color: var(--p-color-bg-fill-transparent-hover)
}

.LToMB:hover svg {
    fill: var(--p-color-icon-hover)
}

.LToMB:active {
    background-color: var(--p-color-bg-fill-transparent-active)
}

.LToMB:focus-visible:not(:active) {
    background-color: var(--p-color-bg-fill-transparent-hover)
}

.LToMB:focus-visible:not(:active):after {
    border-radius: var(--p-border-radius-200);
    box-shadow: 0 0 0 var(--p-space-050) var(--p-color-border-focus);
    outline: var(--osui_high-contrast-outline)
}

.xM346 {
    display: flex;
    flex-direction: column;
    height: 100%
}

.J4HpT {
    flex-grow: 1;
    z-index: 0
}

.lInLk {
    position: relative
}

.sFnP6 {
    border: none;
    height: 100%;
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -9999
}

.B2aXA {
    align-items: center;
    background-color: var(--p-color-bg-fill-tertiary);
    border-radius: var(--p-border-radius-100);
    color: var(--p-color-text);
    display: inline-flex;
    min-height: 1.75rem;
    overflow: hidden;
    padding-left: var(--p-space-200);
    padding-right: var(--p-space-200)
}

.B2aXA.Fxhth {
    padding-right: 0
}

.B2aXA.zdgBF {
    cursor: pointer
}

.B2aXA.UvaoE {
    cursor: default;
    opacity: .5
}

.B2aXA>span {
    overflow-wrap: anywhere
}

.TgNBI {
    align-self: flex-start;
    -webkit-appearance: none;
    appearance: none;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
    display: block;
    font-size: inherit;
    height: 1.75rem;
    line-height: inherit;
    margin: 0;
    margin-left: var(--p-space-100);
    padding: 0;
    transition-duration: var(--p-motion-duration-200);
    transition-property: background,fill;
    transition-timing-function: var(--p-motion-ease);
    width: 1.75rem;
    will-change: background,fill
}

.TgNBI:focus {
    outline: none
}

.TgNBI svg {
    fill: var(--p-color-icon-secondary)
}

.TgNBI:active,.TgNBI:focus,.TgNBI:hover {
    background: var(--p-color-text-inverse-secondary)
}

.TgNBI:active svg,.TgNBI:focus svg,.TgNBI:hover svg {
    fill: var(--p-color-icon)
}

.TgNBI:active {
    background: rgba(var(--p-color-text-secondary),.6)
}

.TgNBI.DldiK {
    cursor: default
}

.TgNBI.DldiK:active,.TgNBI.DldiK:focus,.TgNBI.DldiK:hover {
    background: none
}

.TgNBI.DldiK:active svg,.TgNBI.DldiK:focus svg,.TgNBI.DldiK:hover svg {
    fill: var(--p-color-icon-secondary)
}

.XWErt {
    margin: var(--p-space-200) 0
}

.BtlCc {
    align-items: center;
    border: none;
    color: var(--p-color-text-secondary);
    cursor: text;
    display: flex;
    font-size: var(--p-font-size-400);
    font-weight: 400;
    letter-spacing: normal;
    line-height: var(--p-font-line-height-600);
    padding: 0 calc(var(--p-space-200)*1.5);
    position: relative;
    text-transform: none
}

.BHp4a {
    color: var(--p-color-text)
}

.DkSz7:focus {
    outline: none
}

.t3l_Q .DkSz7::placeholder {
    color: #9c9798
}

.t3l_Q>.DkSz7~.tuDze {
    background-color: var(--p-color-bg-surface-critical);
    border-color: var(--p-color-border-critical);
    box-shadow: none
}

.t3l_Q>.DkSz7:focus~.tuDze {
    border-color: #5c6ac4;
    box-shadow: inset 0 0 0 0 #0000,0 0 0 .0625rem #5c6ac4
}

.oql6X>.tuDze {
    background-color: var(--p-color-bg-surface-secondary)
}

.nL_i0 {
    color: var(--p-color-text-secondary);
    cursor: auto
}

.nL_i0>.tuDze {
    background-color: var(--p-color-bg-surface-secondary);
    border: var(--p-border-width-025) solid var(--p-color-border-secondary);
    box-shadow: none
}

.GhF7Z {
    flex: 1 1
}

.OpP5R {
    padding-top: var(--osw-polaris-text-field-vertical-padding)
}

.DkSz7,.OpP5R {
    display: block;
    z-index: var(--osw-z-index-middle)
}

.DkSz7 {
    -webkit-appearance: none;
    appearance: none;
    background: none;
    border: var(--p-border-width-025) solid #0000;
    flex: 1 1;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    letter-spacing: normal;
    line-height: var(--p-font-line-height-600);
    margin: 0;
    min-height: var(--p-height-900);
    min-width: 0;
    padding: var(--osw-polaris-text-field-vertical-padding) 0;
    position: relative;
    text-transform: none;
    width: 100%
}

.DkSz7:disabled {
    -webkit-text-fill-color: currentcolor;
    color: currentcolor;
    opacity: 1
}

.DkSz7::placeholder {
    color: var(--p-color-text-secondary)
}

.DkSz7[type=number] {
    -webkit-appearance: textfield;
    appearance: textfield
}

.DkSz7[type=number]::-webkit-inner-spin-button,.DkSz7[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    appearance: none;
    margin: 0
}

.tuDze {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background: var(--p-color-bg-surface);
    border: var(--p-border-width-025) solid var(--p-color-border);
    border-radius: var(--p-border-radius-100);
    box-shadow: inset 0 .0625rem 0 0 rgba(var(--p-color-text-secondary),.05);
    inset: 0;
    position: absolute;
    transition-duration: var(--p-motion-duration-200);
    transition-property: box-shadow,border-color;
    transition-timing-function: var(--p-motion-ease);
    will-change: box-shadow,border-color;
    z-index: var(--osw-z-index-base)
}

.sufSV {
    border-color: #5c6ac4;
    box-shadow: inset 0 0 0 0 #0000,0 0 0 .0625rem #5c6ac4
}

.MtXBZ {
    margin-right: .25em
}

.MtXBZ,.n78nN {
    color: currentcolor;
    flex: 0 0 auto;
    pointer-events: none;
    position: relative;
    z-index: var(--osw-z-index-middle)
}

.n78nN {
    margin-left: .25em
}

.ZqL4Y {
    --spacing: calc(var(--p-space-200)*1.5);
    align-self: stretch;
    color: var(--p-color-text);
    cursor: pointer;
    display: flex;
    flex-direction: column;
    margin: .0625rem calc(.0625rem - var(--spacing)) .0625rem var(--spacing);
    width: 1.375rem;
    z-index: var(--osw-z-index-middle)
}

.Ubv1i {
    height: var(--p-height-300);
    width: var(--p-width-300)
}

.__XWj {
    align-items: center;
    -webkit-appearance: none;
    appearance: none;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    background: linear-gradient(to bottom,var(--p-color-bg-surface),var(--p-color-bg-surface-secondary));
    border: none;
    border-left: var(--p-border-width-025) solid var(--p-color-border);
    display: flex;
    flex: 1 1;
    justify-content: center;
    transition: background var(--p-motion-duration-100) var(--p-motion-ease),box-shadow var(--p-motion-duration-100) var(--p-motion-ease);
    will-change: background,box-shadow
}

.__XWj:focus {
    outline: none
}

.__XWj:active {
    background: linear-gradient(to bottom,var(--p-color-bg-surface-secondary),var(--p-color-bg-surface-secondary));
    box-shadow: inset 0 .0625rem .0625rem 0 rgba(var(--p-color-text-secondary),.1),inset 0 .0625rem .25rem 0 rgba(var(--p-color-text-secondary),.2)
}

.__XWj:not(:first-child) {
    border-top: var(--p-border-width-025) solid var(--p-color-border);
    margin-top: -.0625rem
}

.__XWj:first-child {
    border-top-right-radius: var(--p-border-radius-100)
}

.__XWj:last-child {
    border-bottom-right-radius: var(--p-border-radius-100)
}

.yw9ws {
    color: var(--p-color-text-critical);
    display: flex;
    margin-top: var(--p-space-100)
}

.aY7ud {
    margin: 0 var(--p-space-100) 0 -.125rem
}

.aY7ud svg {
    fill: var(--p-color-icon-critical)
}

.xDbBW {
    display: flex
}

.DfDKp,.xDbBW {
    position: relative
}

.DfDKp {
    flex: 0 0 auto;
    z-index: var(--osw-z-index-base)
}

.DfDKp:not(:first-child) {
    margin-left: -.0625rem
}

.VqKBw {
    flex: 1 1 auto;
    z-index: var(--osw-z-index-middle)
}

.VqKBw:not(:first-child) * {
    border-bottom-left-radius: 0!important;
    border-top-left-radius: 0!important
}

.VqKBw:not(:last-child) *,.wF0Pa:first-child *,.wF0Pa:first-child :after {
    border-bottom-right-radius: 0!important;
    border-top-right-radius: 0!important
}

.wF0Pa:last-child *,.wF0Pa:last-child :after {
    border-bottom-left-radius: 0!important;
    border-top-left-radius: 0!important
}

.tIlhz {
    z-index: var(--osw-z-index-top)
}

.FXLzF {
    border-top: var(--p-border-width-025) solid var(--p-color-border-secondary);
    padding: var(--p-space-500);
    text-align: center
}

.h4zWl {
    padding-bottom: var(--p-space-100)
}

@media print {
    .h4zWl {
        display: none
    }
}

.vSY1w {
    height: 0;
    position: absolute;
    visibility: hidden;
    white-space: nowrap
}

@media(min-width: 30.625em) {
    .YB9rJ {
        min-width:21.875rem
    }
}

.W4kQ6 {
    fill: currentcolor
}

.PCdp6 {
    align-items: center;
    background: var(--p-color-bg-surface-secondary);
    border: .0625rem solid var(--p-color-border-secondary);
    border-radius: var(--p-border-radius-100);
    display: flex;
    justify-content: center
}

.mGpXg {
    fill: var(--p-color-icon-secondary);
    color: #0000;
    display: block
}

.TcTNt {
    height: 2.5rem;
    width: 2.5rem
}

.PXyVH {
    height: 3.75rem;
    width: 3.75rem
}

.O3SI5 {
    height: 5rem;
    width: 5rem
}

.TJUZn {
    height: 1.25rem;
    width: 1.25rem
}

.xSMvJ {
    height: 1.75rem;
    width: 1.75rem
}

.SwMUh {
    height: 2.5rem;
    width: 2.5rem
}

.drUce svg {
    fill: var(--p-color-text-warning)
}
