html {
    --osw-z-index-hidden: -9999;
    --osw-z-index-iframe-hidden: -1;
    --osw-z-index-iframe-visible: 1;
    --osw-z-index-anchor-lines: 2;
    --osw-z-index-floating-controls: 3;
    --osw-z-index-tabs-list: 30;
    --osw-z-index-top-bar: 40;
    --osw-z-index-top-bar-surface: 41;
    --osw-z-index-bottom-bar: 50;
    --osw-z-index-editor: 100;
    --osw-z-index-base: 10;
    --osw-z-index-middle: 20;
    --osw-z-index-top: 30;
    --osw-polaris-text-field-vertical-padding: var(--p-space-150)
}

#app>div,.TrdkU {
    height: 100%
}

.NV4Ta {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 10rem
}

.sOTpo {
    width: 9.375rem
}

.TjHie {
    padding-top: 2.75rem
}

.tM2pO {
    border-bottom: var(--p-border-width-025) solid var(--p-color-border-secondary);
    display: flex;
    width: 100%
}

.WQIcz {
    padding: var(--p-space-400)
}

.sp42Z {
    width: 5rem
}

.gBNqB {
    width: 6.25rem
}

.tUToh {
    width: 5.625rem
}

.PJvst {
    align-items: center;
    display: flex;
    justify-content: center;
    min-height: 18.75rem
}

.qkny4 {
    width: 4rem
}

.DjbhK,.Qu3Ta {
    width: 2.25rem
}

.Y7Jlr {
    background-color: var(--p-color-bg-surface);
    height: 3.5rem;
    z-index: var(--osw-z-index-editor)
}

.Y7Jlr>div {
    height: 100%
}

.YPFIE {
    background-color: var(--p-color-bg-surface-secondary);
    display: grid;
    grid-template-areas: "header header header header" "primary-aux-sidebar primary-sidebar preview secondary-sidebar";
    grid-template-columns: 3.5rem 18.75rem 1fr 18.75rem;
    grid-template-rows: 3.5rem 1fr;
    height: 100vh;
    overflow: hidden;
    width: 100vw
}

@media(max-width: 100.8725em) {
    .YPFIE {
        grid-template-areas:"header header header" "primary-aux-sidebar primary-sidebar preview";
        grid-template-columns: 3.5rem 18.75rem 1fr;
        grid-template-rows: 3.5rem 1fr
    }
}

@media(max-width: 41.685em) {
    .YPFIE {
        grid-template-areas:"header" "preview" "footer";
        grid-template-columns: 100%;
        grid-template-rows: 2.75rem 1fr 4.0625rem
    }
}

.YPFIE.GX94b {
    grid-template-columns: 0 18.75rem 1fr 0
}

@media(max-width: 100.8725em) {
    .YPFIE.GX94b {
        grid-template-columns:0 18.75rem 1fr
    }
}

@media(max-width: 41.685em) {
    .YPFIE.GX94b {
        grid-template-columns:100%
    }
}

.yLhqI {
    align-items: center;
    background-color: var(--p-color-bg-surface);
    border-bottom: .0625rem solid var(--p-color-text-inverse);
    display: flex;
    grid-area: header;
    justify-content: space-between;
    padding: var(--p-space-400)
}

@media(max-width: 41.685em) {
    .yLhqI>:nth-child(2) {
        display:none
    }
}

.yLhqI>div {
    width: 25%
}

.yLhqI .Us_Cc {
    width: 50%
}

.yLhqI .cJ1LI {
    height: 2.25rem;
    width: 4rem
}

.jkJEY {
    align-items: center;
    background-color: var(--p-color-bg-surface);
    border-top: .0625rem solid var(--p-color-text-inverse);
    bottom: 0;
    display: flex;
    grid-area: footer;
    justify-content: space-between;
    padding: var(--p-space-400);
    position: absolute;
    width: 100%
}

.jkJEY>div {
    width: 25%
}

.N8GRf {
    display: flex;
    grid-area: preview;
    justify-content: center;
    margin: var(--p-space-200)
}

.nqQlA {
    background-color: #fff;
    border-radius: 0;
    width: 100%
}

@media(min-width: 41.6875em) {
    .nqQlA {
        border-radius:var(--p-space-200)
    }
}

._KB22 {
    border-right: .0625rem solid var(--p-color-border-secondary);
    grid-area: primary-aux-sidebar;
    width: 3.5rem
}

.E8OwD,._KB22 {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    position: relative
}

.E8OwD {
    grid-area: primary-sidebar
}

.E8OwD,.mlBeK {
    width: 18.75rem
}

.mlBeK {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    grid-area: secondary-sidebar;
    padding: var(--p-space-400);
    padding-left: var(--p-space-500)
}

.ONfgu {
    margin-bottom: var(--p-space-400);
    width: 5.8125rem
}

.kRO6k {
    padding-top: var(--p-space-400)
}

.kRO6k>div {
    margin-bottom: var(--p-space-200)
}

.Xpj1r {
    width: 5.0625rem
}

.tFPBm {
    width: 10.6875rem
}

.um9no {
    background-color: var(--p-color-bg-fill-tertiary);
    height: .0625rem;
    margin-left: calc(var(--p-space-300)*-1);
    width: 18.75rem
}

.kAVoZ {
    padding: var(--p-space-400);
    padding-left: 0
}

.s65LH {
    padding-left: var(--p-space-300);
    padding-top: var(--p-space-300)
}

.bMQTW {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    padding-bottom: var(--p-space-300)
}

.bMQTW:first-child {
    padding-top: var(--p-space-400)
}

.y_AM6 {
    background-color: var(--p-color-bg-surface);
    border-radius: var(--p-space-400) var(--p-space-400) 0 0;
    bottom: 0;
    box-shadow: 0 -.0625rem 0 #00000014,0 -.0625rem .5rem #0000000f;
    grid-area: footer;
    height: 3.875rem;
    padding-top: var(--p-space-600);
    position: absolute;
    width: 100%;
    z-index: var(--p-z-index-11)
}

.t_d3r {
    align-items: center;
    display: flex;
    justify-content: center;
    width: 100%
}

.t_d3r>div {
    background-color: var(--p-color-bg-fill-secondary);
    height: 1rem;
    max-width: 100%;
    width: 6.5rem
}

.dIdfC {
    align-items: center;
    background-color: var(--p-color-bg-surface);
    display: flex;
    justify-content: center;
    padding-bottom: var(--p-space-600);
    padding-top: var(--p-space-600)
}

.s8e1N {
    background-color: var(--p-color-bg-fill-secondary);
    height: 22.75rem;
    width: 100%
}

.WniPi {
    background-color: var(--p-color-bg-surface);
    padding-bottom: var(--p-space-600);
    padding-top: var(--p-space-600)
}

.l7ZEC {
    display: grid;
    gap: var(--p-space-300);
    justify-items: center;
    padding-bottom: var(--p-space-400)
}

.XJRqk,.l7ZEC {
    align-items: center
}

.XJRqk {
    background-color: var(--p-color-bg-surface);
    display: flex;
    justify-content: center
}

.KeQRo {
    align-items: center;
    display: grid;
    gap: var(--p-space-100);
    grid-template-columns: 1fr 1fr;
    justify-items: center
}

.czaN6>div {
    height: 1rem;
    max-width: 100%;
    width: 100%
}

._TQoR>div,.czaN6>div {
    background-color: var(--p-color-bg-fill-secondary)
}

._TQoR>div {
    height: 10.5rem;
    width: 10.5rem
}

.Y6GIN>div {
    margin-bottom: var(--p-space-200)
}

.Y6GIN.qvhWv {
    padding: var(--p-space-200) 0 var(--p-space-500) var(--p-space-300)
}

.j2aZG {
    width: 5.8125rem
}

.tLDBd {
    width: 9.4375rem
}

.nggTf {
    padding-top: var(--p-space-400)
}

.nggTf>div {
    margin-bottom: var(--p-space-200)
}

.NXR7x {
    width: 5.0625rem
}

.VyB1l {
    width: 10.6875rem
}

.tLdx9 {
    margin: auto var(--p-space-400) auto var(--p-space-500)
}

.tLdx9,.ydhJ0 {
    background-color: var(--p-color-bg-fill-tertiary);
    height: .0625rem
}

.ydhJ0 {
    margin-left: -var(--p-space-400);
    width: 18.75rem
}

.OZQmp {
    padding-left: var(--p-space-400);
    padding-top: var(--p-space-200)
}

.r01Yd {
    margin-left: var(--p-space-500)
}

.fV7z5 {
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-left: var(--p-space-200);
    padding-bottom: var(--p-space-300)
}

.fV7z5>div:first-child {
    height: 1.25rem;
    width: 1.25rem
}

.fV7z5>div:nth-child(2) {
    margin: var(--p-space-200);
    width: 7.5rem
}

.m__gg .fV7z5 {
    border-bottom: var(--p-border-width-025) solid var(--p-color-border-secondary);
    margin: 0;
    padding: var(--p-space-200) var(--p-space-400)
}
