



.root {
    display: block;

        height:100%;
    width:100%;
}

.container {
    margin: 0 auto;
    position: static;
    width: 100%;
     height:100%;
}

.page {
  margin: 0;
  padding: 0;
   position: relative;
}

.section {
    display: block;
        height: 100%;
         width: 100%;
}

.spinner {
 /*  box-sizing: border-box;
    margin: 0;
    min-width: 0;
    padding: 0;
        flex-basis: 100%;
    max-width: 100%;
        inset-inline-start: 48.25%;
   position: absolute;
    top: 50%;
    z-index: 99999*/



        position: absolute;
    inset: 0px;
    display: flex
;
    justify-content: center;
    align-items: center;


    
}