._OnlineStoreWebFallbackWrapper_18yzp_1 {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    padding-bottom: var(--pc-frame-global-ribbon-height, 0);
    width: 100%
}

._OnlineStoreWebFallback_18yzp_1 {
    position: relative;
    height: 100%
}

._editor_18yzp_17 {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: var(--p-z-index-4)
}

._Frame_1lmrp_1 {
    z-index: var(--p-z-index-1);
    position: relative;
    display: flex;
    flex: 1 1;
    width: 100%;
    opacity: 1;
    border: none
}

._Frame_1lmrp_1._hidden_1lmrp_11 {
    z-index: -9999;
    opacity: 0
}

._Frame_1lmrp_1._interactionDisabled_1lmrp_17 {
    pointer-events: none
}

._Skeleton_1lmrp_21 {
    position: absolute;
    width: 100%;
    height: 100%
}

._Skeleton_1lmrp_21._WithTitleBar_1lmrp_27 {
    top: 3.5625rem;
    height: calc(100% - 3.5625rem)
}

._Container_1jif8_1 {
    z-index: -1;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    visibility: hidden
}

._Container_1jif8_1._visible_1jif8_15 {
    z-index: var(--p-z-index-11);
    visibility: visible;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    will-change: transform,opacity;
    animation: _scale-in_1jif8_1 var(--p-motion-ease) var(--p-motion-duration-200)
}

@media (min-width: 48em) {
    ._Container_1jif8_1 {
        justify-content:center
    }
}

._Modal_1jif8_28 {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    width: 100vw;
    height: 100%;
    flex-direction: column;
    max-height: calc(100vh - 3.75rem);
    background: var(--p-color-bg-surface);
    box-shadow: var(--p-shadow-600)
}

@media (max-width: 47.9975em) {
    ._Modal_1jif8_28 {
        top:auto;
        height: auto;
        width: 100%;
        max-height: calc(100% - 3.5rem)
    }
}

._Modal_1jif8_28:focus {
    outline: 0
}

@media (min-width: 48em) {
    ._Modal_1jif8_28 {
        position:relative;
        max-width: 38.75rem;
        margin: 0 auto;
        border-radius: var(--p-border-radius-200);
        overflow: hidden
    }
}

@media (min-width: 48em) and (min-height: 41.25em) {
    ._Modal_1jif8_28._limitHeight_1jif8_67 {
        max-height:37.5rem
    }
}

@media (min-width: 48em) {
    ._Modal-large_1jif8_73 {
        max-width:calc(100vw - var(--p-space-1600))
    }

    ._Modal-large_1jif8_73 ._IFrame_1jif8_77 {
        max-width: 100%
    }
}

@media (min-width: 65em) {
    ._Modal-large_1jif8_73 {
        max-width:61.25rem
    }
}

@media (min-width: 48em) {
    ._Modal-xLarge_1jif8_89 {
        max-width:calc(100vw - var(--p-space-1600))
    }

    ._Modal-xLarge_1jif8_89 ._IFrame_1jif8_77 {
        max-width: 100%
    }
}

@keyframes _scale-in_1jif8_1 {
    0% {
        opacity: 0;
        transform: scale(1.15)
    }

    to {
        opacity: 1;
        transform: scale(1)
    }
}

._BodyWrapper_pivoa_1 {
    display: flex;
    flex-grow: 1;
    border-radius: var(--p-border-radius-200);
    overflow: hidden auto;
    -webkit-overflow-scrolling: touch
}

._Body_pivoa_1 {
    display: flex;
    flex-grow: 1;
    overflow: hidden;
    width: 100%
}

._Spinner_pivoa_16 {
    margin: var(--p-space-400);
    text-align: center
}

._Iframe_pivoa_21 {
    display: block;
    flex-grow: 1;
    width: 100%;
    max-width: 100vw;
    border: none
}

._lockScrolling_pivoa_29 {
    overflow: hidden
}

._EmbeddedApp_1dsh5_1 {
    z-index: var(--p-z-index-1);
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0
}

._EmbeddedApp_1dsh5_1._hidden_1dsh5_10 {
    z-index: -9999;
    opacity: 0
}
