._Tabs_63i8w_4 {
    display: flex;
    width: 100%;
    border-bottom: var(--p-border-width-025) solid var(--p-color-border-secondary)
}

._Tab_63i8w_4 {
    padding: calc(var(--p-space-500) + .125rem) var(--p-space-400)
}

._Tab-short_63i8w_15 {
    width: 5rem
}

._Tab-long_63i8w_19 {
    width: 6.25rem
}

._IndexTableContent_1me89_1 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10rem
}

._FilterButton_1me89_8 {
    width: 9.375rem
}
