
@keyframes p-motion-keyframes-bounce {
    0%,65%,85% {
        transform: scale(1)
    }

    75% {
        transform: scale(.85)
    }

    82.5% {
        transform: scale(1.05)
    }
}

@keyframes p-motion-keyframes-fade-in {
    to {
        opacity: 1
    }
}

@keyframes p-motion-keyframes-pulse {
    0%,75% {
        transform: scale(.85);
        opacity: 1
    }

    to {
        transform: scale(2.5);
        opacity: 0
    }
}

@keyframes p-motion-keyframes-spin {
    to {
        transform: rotate(1turn)
    }
}

@keyframes p-motion-keyframes-appear-above {
    0% {
        transform: translateY(var(--p-space-100));
        opacity: 0
    }

    to {
        transform: none;
        opacity: 1
    } 
}

@keyframes p-motion-keyframes-appear-below {
    0% {
        transform: translateY(calc(var(--p-space-100)*-1));
        opacity: 0
    }

    to {
        transform: none;
        opacity: 1
    }
}