._ContentWrapper_1mquh_1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
._ContentWrapper_1mquh_1._FullHeight_1mquh_8 {
  height: 100vh;
}
._WarningIcon_1mquh_13 {
  width: 3.75rem;
  height: 3.75rem;
  fill: var(--p-color-icon-secondary);
  margin-bottom: var(--p-space-500);
}
._CopyWrapper_1mquh_20 {
  text-align: center;
  padding-bottom: var(--p-space-400);
}
._CopyWrapper_1mquh_20 ._Heading_1mquh_24 {
  padding-bottom: var(--p-space-200);
}
._MaxWidth_1mquh_29 {
  width: 50%;
}
