._CloseButton_1d5lm_13 {
    -webkit-appearance: none;
    appearance: none;
    margin: 0;
    padding: 0;
    background: none;
    border: none;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    cursor: pointer;
    position: relative;
    margin: calc(var(--p-space-100)*-1) calc(var(--p-space-200)*-1) calc(var(--p-space-100)*-1) var(--p-space-500);
    padding: var(--p-space-200);
    border-radius: var(--p-border-radius-200)
}

._CloseButton_1d5lm_13:focus {
    outline: none
}

._CloseButton_1d5lm_13:after {
    content: "";
    position: absolute;
    z-index: var(--p-z-index-1);
    inset: -.0625rem;
    display: block;
    pointer-events: none;
    box-shadow: 0 0 0 -1 var(--p-color-border-focus);
    border-radius: var(--p-border-radius-100)
}

._CloseButton_1d5lm_13:hover {
    background-color: var(--p-color-bg-fill-transparent-hover)
}

._CloseButton_1d5lm_13:hover svg {
    fill: var(--p-color-icon-hover)
}

._CloseButton_1d5lm_13:active {
    background-color: var(--p-color-bg-fill-transparent-active)
}

._CloseButton_1d5lm_13:focus-visible:not(:active) {
    background-color: var(--p-color-bg-fill-transparent-hover)
}

._CloseButton_1d5lm_13:focus-visible:not(:active):after {
    box-shadow: 0 0 0 var(--p-space-050) var(--p-color-border-focus);
    outline: var(--osui_high-contrast-outline)
}

._CloseButton_1d5lm_13:focus-visible:not(:active):after {
    box-shadow: 0 0 0 var(--p-space-050) var(--p-color-border-focus);
    outline: var(--osui_high-contrast-outline);
    border-radius: var(--p-border-radius-200)
}

._info_sk6pp_1 {
    color: var(--p-color-text-info)
}

._warning_sk6pp_5 {
    color: var(--p-color-text-warning)
}

._info_llmum_1 {
    color: var(--p-color-text-info)
}

._Loading_1ev6c_1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-height: 12.5rem
}

._Content_6nt0h_1 {
    display: flex;
    flex-direction: column;
    height: 100%
}

._Scrollable_6nt0h_7 {
    z-index: 0;
    flex-grow: 1
}

._Wrapper_1j4qp_2 {
    position: relative
}

._Iframe_1j4qp_6 {
    position: absolute;
    z-index: -9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    opacity: 0;
    pointer-events: none
}
